<div class="subfooter">
    <div class="container flex sub-footer-container">
        <a href="#" class="hover-links">Privacy policy</a>
        <a href="#" class="hover-links">Terms & conditions</a>
        <a href="#" class="hover-links">security information</a>
        <a href="#" class="hover-links"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="hover-links"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="hover-links"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" class="hover-links"><i class="fa-brands fa-youtube"></i></a>

    </div>
</div>


<div class="subfooter"></div>
<script src="js/main.js"></script>
</body>

</html>