<% if(user){ %>
    <%- include('header.ejs') %>
        <% }else{ %>
            <%- include('header_index.ejs') %>
                <% } %>
                    <style>

                    </style>
                    <!-- top banner -->
                    <div class="top-banner">
                        <div class="container">

                            <div class="small-bold-text banner-text">KeySafe-Valut</div>
                        </div>
                    </div>



                    <!-- header -->
                    <header>
                        <div class="container header-section flex">
                            <div class="header-left ">
                                <h1>KeySafe-Valut</h1>
                                <p>The Dedicated Key Safe Vault: A secure solution for managing digital assets. </p>
                                <a href="#" class="primary-button ">Get Started</a>
                            </div>
                            <div class="header-right">
                                <img src="/images/hero.jpg" alt="hero-image">
                            </div>
                        </div>
                    </header>



                    <!-- subfooter -->



                    <%- include('footer.ejs') %>