<%- include('header.ejs') %>

<h1>KeyPass</h1>
<h2>User Created Successfully!</h2>
<h3>Copy and store it safely:</h3>
<code><%= token %></code>

<h3>Click Here to <a href="/login">Login</a></h3>
<%- include('footer.ejs') %>